[submodule "dci/submodules/spdci-compliance"]
	path = dci/submodules/spdci-compliance
	url = https://github.com/openspp/spdci-compliance.git
[submodule "dci/submodules/spdci-schemas"]
	path = dci/submodules/spdci-schemas
	url = https://github.com/spdci/schemas.git
[submodule "dci/submodules/spdci-api-standards"]
	path = dci/submodules/spdci-api-standards
	url = https://github.com/spdci/api-standards.git
